

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Services Offered</h2>
                <p class="lead">
                    JLA Recruitment is managed by a team of consultants that specializes within different industries and disciplines.<br />
                    Our client base ranges from small start-up companies and medium size solution providers to corporate concerns. Our clients' core businesses include specialist fields;
                    <br />
                    <ul>
                        <li>
                            Engineering & Technical
                        </li>
                        <li>
                            Information Technology
                        </li>
                        <li>
                            Construction & Design
                        </li>
                        <li>
                            Business Intelligence
                        </li>
                        <li>
                            Financial Services
                        </li>
                        <li>
                            Sales & Marketing
                        </li>
                        <li>
                            Management
                        </li>
                        <li>
                            Outsourcing
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/img/ipad.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Solutions Offered</h2>
                <h3 class="section-heading">Contingency Recruitment</h3>
                <p class="lead">
                    JLA Recruitment provides a 360 degree solution to all your permanent staffing requirements by sourcing and head hunting the best talent the market has to offer.
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h3 class="section-heading">Contract Recruitment</h3>
                <p class="lead">
                    Should you have temporary, project or contracting positions available, JLA Recruitment has the candidate for you. We are able to assist will all your temporary or contractual requirements.
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h3 class="section-heading">RPO (Recruitment Process Outsourcing)</h3>
                <p class="lead">
                    Recruitment Process Outsourcing is a form of business process outsourcing (BPO) where an employer transfers all or part of its recruitment processes to an external service provider. JLA Recruitment’s RPO can provide its own or may assume the company's staff, technology, methodologies and reporting. In all cases, RPO’s differs greatly from providers such as staffing companies and contingent/retained search providers in that it assumes ownership of the design and management of the recruitment process and the responsibility of the result.
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h3 class="section-heading">AD Response Handling (The JLA Solution)</h3>
                <p class="lead">
                    Primarily business owners and hiring managers do not always have the time to advertise and screen hundreds of CV’s before conducting interviews as they are focusing on their core business function. That is where JLA Recruitment comes in and provides a full proof response handling solution to our clients. The JLA Solution assists clients by handling their advertising and screening process thus improving quality, turn-around time on hire and saves them more than 40% on their recruitment costs.
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>