<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Juan Drotskie</h2>
                <h4 class="section-heading">Managing Director & Founder Member</h4>
                <p class="lead">
                    Juan has served years of in-depth knowledge & experience in the Financial & IT industry. Juan has seen it THROUGH the Infancy stage to what JLA Recruitment is now, a major recognized Recruitment Consultancy firm in South Africa.
                    <br />
                    <a href="juan@jlarecruitment.co.za">juan@jlarecruitment.co.za</a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/img/face1.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Linda Pretorius </h2>
                <h4 class="section-heading">Director</h4>
                <p class="lead">
                    Linda is passionate about selling and marketing. Being in the marketing industry for 25 years, she is eager to develop her recruitment skills. Changing people's lives and making a difference is a set goal.
                    <br />
                    <a href="linda@jlarecruitment.co.za">linda@jlarecruitment.co.za</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/img/face3.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Yolanda Drotskie</h2>
                <h4 class="section-heading">Branch Manager</h4>
                <p class="lead">
                    Three words describe Yolanda… drive, passion and innovation! With over 9 years of recruitment experience in both independent and large corporate organisations, she has worked her way through the recruitment ranks. More focused on Engineering & Technical and Information Technology, she is a Hunter and will find you the right talent.
                    <br />
                    <a href="yolanda@jlarecruitment.co.za">yolanda@jlarecruitment.co.za</a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/img/face2.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
