<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">JLA Recruitment Values</h2>
                <p class="lead">
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><span class="palette-color1-4"><span style="line-height: 34.08px; font-size: 26px;"><span style="font-style: italic; font-weight: bold;"><label class="label label-warning">COMMITTED</label> </span></span></span><span style="line-height: 34.08px; font-size: 24px;">to the Highest Standards</span></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><span style="font-size: 24px;"><span class="palette-color1-4" style="font-style: italic; font-size: 26px; font-weight: bold;"><label class="label label-info">PROVIDERS</label> </span> of outstanding talent</span></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><span class="palette-color1-4" style="font-style: italic; font-weight: bold; font-size: 26px;"><label class="label label-primary">QUALITY</label></span><span style="font-size: 24px;"> focused</span></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><span style="font-size: 24px;"><span class="palette-color1-4" style="font-style: italic; font-size: 26px; font-weight: bold;"><label class="label label-danger">TRUST</label> </span>in our Clients and Candidates</span></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><span style="font-size: 24px;"><span class="palette-color1-4" style="font-style: italic; font-weight: bold; font-size: 26px;">&nbsp;<label class="label label-warning">INNOVATION</label> </span>creates opportunity</span></p>
                <p style="text-align: center;">&nbsp;</p>
                <p style="text-align: center;"><span style="font-size: 24px;"><span class="palette-color1-4" style="font-style: italic; font-size: 26px; font-weight: bold;"><label class="label label-info">TEAMWORK</label> </span>leads to success</span></p>
                <p style="text-align: left;">&nbsp;</p>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img src="~/img/teamvalues.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
